<launch>

    <arg name="project" default="lio_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params_new_payload_enu_gascola_1.yaml" command="load" /> <!--params_new_payload_enu, params_new_payload_outdoors, params_new_payload_ned, params_new_payload_enu, params_new_payload_enu_gascola-->

    <!--- LOAM -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher_new.launch" />

    <!--- Run Navsat -->
    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />
    
    <node pkg="$(arg project)" type="gps_renameFrameID.py" name="$(arg project)_renameGPS_FrameID" output="screen">
        <!--remap from="/gps_save" to="/dji_sdk/gps_position" /-->
        <remap from="/gps_save" to="/fix" /> 
        <!--remap from="/gps_save" to="/mavros/global_position/raw/fix" /-->                      
    </node>    

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>
